@{
    ViewData["Title"] = "Cargo Management Interface";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:sapoliakaran@gmail.com">sapoliakaran@gmail.com</a><br />
</address>
